.App {
  display: flex;
  justify-content: space-between;


}

.Time {

  width: 100%;
  background-color: burlywood;



}

.Metrics {

  width: 54%;
  background-color: darkgray;
  background-size: 100%;
  text-align: start;


}